.home {
    @include Mwh(80vw, 80vh);
    border       : 1px solid #ccc;
    border-radius: 4px;
    @extend %displaycenter;

    .content {
        @include Mwh(10vw, 10vh);
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: hidden;
        .animateBorder {
            @include Mwh(100%, 100%);
            position: relative;

            i {
                position: absolute;
                display : inline-block;
                @include Mwh(100%, 0.2vh);
            }

            &::before,
            &::after {
                content : "";
                position: absolute;
                @include Mwh(0.3vh, 100%);
            }


            i:nth-child(1) {
                background-image: linear-gradient(90deg, transparent, #03e9f4);
                top             : 0;
                left            : -100%;
                animation       : right 4s linear infinite;
            }

            &::before {
                background-image: linear-gradient(180deg, transparent, #03e9f4);
                top             : -100%;
                right           : 0;
                animation       : bottom 4s linear 1s infinite;
            }


            i:nth-child(2) {
                background-image: linear-gradient(270deg, transparent, #03e9f4);
                bottom          : 0;
                right           : -100%;
                animation       : left 4s linear 2s infinite;
            }

            &::after {
                background-image: linear-gradient(0deg, transparent, #03e9f4);
                bottom          : -100%;
                left            : 0;
                animation       : top 4s linear 3s infinite;
            }

        }
    }
}

@keyframes right {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

@keyframes bottom {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

@keyframes left {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

@keyframes top {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.home:hover {
    box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
}
